*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Form {
  width: 90%;
  display: flex;
  background: none;
  vertical-align: top;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;

}
.Login{
  width: 100%;
  height: 100vh;
  display: flex;
  background: none;
  vertical-align: top;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-color: var(--color-background);
}

.Form__right,
.Form__left {
  flex-basis: 50%;
  display: flex;
}
.Form__left {
  justify-content: end;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  filter: grayscale(1);
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
}

.Form__right {
  background-color: #0f0f0f;
  color: #fff;
  position: relative;
}

.Form__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.Form__content h1{
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.25;
  font-family: "Oswald", sans-serif;
}
:is(
    .Form__input_email,
    .Form__input__password,
    .Form__submit
  ) {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  
}
:is(
    .Form__input_email,
    .Form__input__password,
    .Form__submit
  ) input{
    width: 100%;
    font-size: 1rem;
    color: #fff;
    padding: 1rem ;

    line-height: 1.75;
    font-weight: 300;
    font-family: "Quicksand", sans-serif;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: #bababa;
    background-color: transparent;
    outline: none;
  }
.site__btn {
  font-weight: 500 !important;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  -webkit-transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Form__forgetPassword {
  text-align: end;
  
  
}
.Form__forgetPassword a{
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
}
.Form__Header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.header {
  margin: 0 auto;
  width: 81.333333%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  margin-left: 0;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  height: 60px;
  align-items: center;
  flex-wrap: wrap;
  
}
.header .link__register {
  border-color: #8d8d8c;
  color: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: transparent;
  border: 1px solid #dbdbdb;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0;
  line-height: 1.25;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 1.25rem 2.5rem;
}
.header .link__register:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}



.link__logo {
  text-align: center;
  width: 50%;
}
.site__btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.input {
  position: relative;
  margin-top: 0.5rem;

  
}
.input svg{
  position: absolute;
  width: 1.5rem;
  color: #fff;
  fill: #fff;
  cursor: pointer;
  height: 1.5rem;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}