footer {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .left{
    display: flex;
    gap: 100px;
  }
  footer .left ul {
    list-style: none;
  }
  footer .left ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #b3b3b3;
  }
  footer .left ul li:first-child{
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
  }
  footer .right ul {
    list-style: none;
  }
  
  footer .right ul li {
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #b3b3b3;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
  }
  footer .right ul li svg{
    width: 100%;
    height: 100%;
    color: #b3b3b3;
    fill: #b3b3b3;
  
  }