
a {
  text-decoration: none;
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: "Gothic A1";
  src: url('../fonts/GothicA1-Regular.ttf');
}
@font-face {
  font-family: "Dosis";
  src: url('../fonts/Dosis-Regular.ttf');
}
* {
  font-family: "Gothic A1", sans-serif ;
}