.left-section {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.left-options-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home,
.search {
  width: 100%;
}
.text {
  color: #b3b3b3;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.ins {
  height: 48px;
  text-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 16px;
  text-decoration: none;
}
.sidebar-top {
  background-color: #121212;
  height: 112px;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-center {
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #121212;
  position: relative;
  flex: 1;
}
.your-music-items{
  position: relative;
  margin-top: 12px;
  width: 100%;
  height: 100%;
 
}
.your-music-items-list{
  position: absolute;
  overscroll-behavior-y: contain;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.items{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 8px;
  text-decoration: none;
}
.items-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.items-name{
  font-weight: 600;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #fff;
}
.items-artist{
  text-decoration: none !important;
  font-weight: 400;
  font-size: 12px;
  color: #b3b3b3;
}
.items-img{
  flex-shrink: 0;
  border-radius: 6px;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.items-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.material-symbols-outlined{
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.input_add_playlist {
  position: absolute;
  display: none;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 99;
}

.input_add_playlist form {
  display: flex;
  gap: 10px;
}

.input_add_playlist form input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 32px;
  width: 100%;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 12px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.button{
  display: flex;
  gap: 10px;
}